@import url('https://fonts.googleapis.com/css?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {

    font-size: 16px;

    --title-scnd-clr: rgba(255, 255, 255, 1);

    --gm-ttl-ff: 'bebas neue', cursive;
    --gm-ttl-fs: 3rem;
    --gm-ttl-fw: 400;
    --gm-ttl-pddng: .5em;

    --s-scrbrd-text-fs: 2rem;
    --s-scrbrd-count-fs: 4rem;
    --s-scrbrd-mrgn: 0 .5em;

    --s-rslt-fs: 1.5em;

    --s-gl-mrgn: 4rem 0 0 0;
    
}

/* app container */

.main {
    height: 100vh;
    background-image: url("images/soccerfield.jpg");
    background-size: cover;
    background-position: center;
}

/* header */

.game-title {
    font-family: var(--gm-ttl-ff);
    font-size: var(--gm-ttl-fs);
    font-weight: var(--gm-ttl-fw);
    color: var(--title-scnd-clr);
    text-align: center;
    margin: 0;
    padding: var(--gm-ttl-pddng);
}

/* section score-board */

.score-board {
    display: flex;
    align-items: baseline;
    justify-content: center;
}

.score-board__title,
.score-board__score,
.score-board__text,
.score-board__count {
    margin: var(--s-scrbrd-mrgn)
}

.score-board__title,
.score-board__score {
    width: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.score-board__title {
    height: 50px;
}

.score-board__score {
    height: 100px;
}

.score-board__text,
.score-board__count,
.score-board__between {
    font-family: var(--gm-ttl-ff);
    color: var(--title-scnd-clr);
    text-align: center;
}

.score-board__text {
    font-size: var(--s-scrbrd-text-fs);
}

.score-board__count,
.score-board__between {
    font-size: var(--s-scrbrd-count-fs);
}

/* section result */

.result {
    height: 80px;
    max-width: 600px;
    font-size: var(--s-rslt-fs);
    margin: 0 auto;
}

.result__text {
    font-family: var(--gm-ttl-ff);
    color: var(--title-scnd-clr);
    text-align: center;
}

/* section goal */

.goal {
    display: grid;
    place-items: center;
}

/* goal post */

.goal__border {
    width: 70%;
    max-width: 500px;
    height: 40vh;
    border: 5px solid rgba(255, 255, 255, 1);
    border-bottom: none;
    background-color: rgba(0, 0, 0, .5);
    background-image: linear-gradient();
    border-radius: 5px;
    margin: var(--s-gl-mrgn);
    position: relative;
    clip-path: polygon(0 0, 100% 0, 100% 100%, 80% 80%, 20% 80%, 0 100%);
    display: grid;
    place-items: center;
}

/* 4 x corner and center */

.goal__tl,
.goal__tr,
.goal__br,
.goal__bl,
.goal__cc {
    width: 50px;
    height: 50px;
    position: absolute;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 50%;
    box-sizing: border-box;
    transition: background-color 400ms;
}

.goal__tr:hover,
.goal__br:hover,
.goal__bl:hover,
.goal__tl:hover,
.goal__cc:hover {
    background-color: rgba(255, 255, 255, .2);
}

.goal__tl {
    top: 7px;
    left: 7px;
}

.goal__tr {
    top: 7px;
    right: 7px;
}

.goal__br {
    right: 7px;
    bottom: 40px;
}

.goal__bl {
    left: 7px;
    bottom: 40px;
}

/* corner target */

.goal__target-line::before {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    left: 22px;
    top: 8px;
    height: 30px;
    width: 2px;
    background-color: rgba(255, 255, 255, .5);
}

.goal__target-line::after {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 22px;
    left: 8px;
    height: 2px;
    width: 30px;
    background-color: rgba(255, 255, 255, .5);
}

.goal__target-circle::after {
    content: '';
    display: block;
    box-sizing: border-box;
    position: absolute;
    top: 13px;
    left: 13px;
    height: 20px;
    width: 20px;
    border: 2px solid rgba(255, 255, 255, .5);
    border-radius: 50%;
}

/* score and miss animation */

.goal__green-glow {
    border: 2px solid rgba(13, 223, 30, 0);
    box-shadow: 0 0 10px rgba(13, 223, 30, 0);
    transition: border 300ms, box-shadow 300ms;
}

.goal__green-glow:hover {
    border: 2px solid rgba(13, 223, 30, 1);
    box-shadow: 0 0 10px rgba(13, 223, 30, 1);
}

.goal__red-glow {
    border: 2px solid rgb(223, 13, 13, 0);
    box-shadow: 0 0 10px rgb(223, 13, 13, 0);
    transition: border 300ms, box-shadow 300ms;
}

.goal__red-glow:hover {
    border: 2px solid rgb(223, 13, 13, 1);
    box-shadow: 0 0 10px rgb(223, 13, 13, 1);
}

/* footer */
